<!-- <div class="card">
    <div class="card-body">
        <h3>Good Morning</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quisquam, qui fugit et id magnam omnis praesentium quasi nisi iusto, enim quidem reiciendis debitis culpa aliquam eligendi neque deserunt ex?</p>
    </div>
</div> -->

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img src="assets/img/card_1.jpg" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3">Paris</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              officiis distinctio nihil magnam perferendis reiciendis, omnis
              quaerat quae itaque aliquam.
            </p>
            <button class="btn btn-danger btn-sm">Book Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img src="assets/img/card_2.jpg" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3">Bangkok</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              officiis distinctio nihil magnam perferendis reiciendis, omnis
              quaerat quae itaque aliquam.
            </p>
            <button class="btn btn-danger btn-sm">Book Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img src="assets/img/card_3.jpg" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3">Indonesia</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              officiis distinctio nihil magnam perferendis reiciendis, omnis
              quaerat quae itaque aliquam.
            </p>
            <button class="btn btn-danger btn-sm">Book Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-lg">
          <img src="assets/img/card_4.jpg" alt="" class="img-fluid" />
          <div class="card-body">
            <p class="h3">Malaysia</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              officiis distinctio nihil magnam perferendis reiciendis, omnis
              quaerat quae itaque aliquam.
            </p>
            <button class="btn btn-danger btn-sm">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
