<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-warning">
            <p class="h4">User Registration</p>
          </div>
          <div class="card-body bg-light">
            <form (submit)="submitRegister()">
              <div class="mb-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  name="name"
                  [(ngModel)]="user.name"
                />
              </div>
              <div class="mb-2">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="user.email"
                />
              </div>
              <div class="mb-2">
                <div class="input-group">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="user.password"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" style="padding: 10px">
                      <i
                        class="fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <select
                  class="form-control"
                  name="designation"
                  [(ngModel)]="user.designation"
                >
                  <option value="">Select Designation</option>
                  <option value="Software Engineer">Software Engineer</option>
                  <option value="Manager">Manager</option>
                  <option value="Tester">Tester</option>
                  <option value="QA">QA</option>
                  <option value="HR">HR</option>
                </select>
              </div>
              <div class="mb-2">
                <textarea
                  name="bio"
                  class="form-control"
                  rows="4"
                  placeholder="Bio"
                  [(ngModel)]="user.bio"
                ></textarea>
              </div>
              <div class="mb-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="terms"
                  [(ngModel)]="user.terms"
                />
                Accept terms
              </div>
              <div class="mb-2">
                <input
                  type="submit"
                  class="btn btn-success btn-sm"
                  value="Register"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<pre>{{ user | json }}</pre>
