<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h3 text-danger">Product Items</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          voluptas amet accusantium officia. Expedita reprehenderit nobis iure
          quas ut natus eos aliquid, autem earum nesciunt inventore consequatur
          quos ratione recusandae?
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mt-3">
  <div class="container">
    <div class="col">
      <table class="table table-hover text-center table-striped">
        <thead class="table-secondary text-white">
          <tr>
            <th>Sno</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{product.sno}}</td>
                <td> <img [src]="product.image" alt="" width="50" height="50"> </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <i class="fa fa-minus-square" (click)="decrementQty()"></i>
                    {{product.qty}}
                    <i class="fa fa-plus-square" (click)="incrementQty()"></i>
                </td>
                <td>{{product.price * product.qty}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
