<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card shadow-lg">
          <div class="card-body">
           <h2 *ngIf="isLoggedIn">Welcome Ravi</h2>
           <h2 *ngIf="!isLoggedIn">Thank you for visit</h2>
           <button *ngIf="!isLoggedIn" class="btn btn-success btn-sm" (click)="login()">Login</button>
           <button *ngIf="isLoggedIn" class="btn btn-warning btn-sm" (click)="logout()">LogOut</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
