<div class="card sticky-top shadow-lg" *ngIf="isNotEmpty()">
  <div class="card-head text-center">
    <strong class="text-danger "> {{selectedContact.login.uuid | uppercase | slice:-5}}</strong>
  </div>
  <img [src]="selectedContact.picture.large" alt="" class="img-thumbnail" />
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        NAME : {{selectedContact.name.title+" "+ selectedContact.name.first+" "+selectedContact.name.last }} 
      </li>
      <li class="list-group-item">
        EMAIL : {{selectedContact.email }} 
      </li>
      <li class="list-group-item">
        PHONE : {{selectedContact.phone }} 
      </li>
      <li class="list-group-item">
        AGE : {{selectedContact.dob.age }} 
      </li>
      <li class="list-group-item">
        LOCATION : {{selectedContact.location.city +" - "+ selectedContact.location.state}} 
      </li>
    </ul>
  </div>
</div>
